html {
    font-family: 'Raleway', sans-serif;
    /* overflow-x: hidden; */
}

* {

    box-sizing: border-box;
}

body {

    background: white;
    color: black;
    font: 14px / 28px;
    margin: 0;
}



/* menu settings */
header .container {
    position: absolute;
    width: 100%;
    min-height: 66px;
    background-color: white;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    margin-right: auto;
}

header .logo img {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
}


header ul {
    position: relative;
}

header ul li {
    position: relative;
    list-style: none;
    float: left;

}

header ul li a {
    padding: 17px 27px;
    display: block;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 2px;
    color: black;
    display: flex;
    justify-content: space-between;
    transition: all .5s ease;
}

header ul li a:hover {
    background: #3018ad;
    /* border-radius: 10px; */
    color: white;
}

header ul li ul {
    position: absolute;
    left: 0;
    width: 208px;
    background: #3018ad;
    color: white;
    display: none;
}

header ul li:hover ul {
    display: block;
    /* background: #3018ad; */
    color: white;
}

header ul li ul a:hover {
    background: #3018ad;
}

header ul li ul li {
    position: relative;
    width: 100%;
    border: 1px solid rgb(255, 255, 255, 0.2);
}

header ul li ul li a {
    padding-left: 50px;
}






/* main section */
#mainSlider {
    height: 500px;
    background: url('../images/background.webp') center center no-repeat;
    background-size: cover;
}


.slider {
    width: 100%;
}

#mainCaption {
    height: 500px;
    background: rgba(0, 0, 0, .1);
}

#mainCaption h1 {
    margin-left: 100px;
    margin-right: 100px;
}

#mainCaption p {
    margin-left: 100px;
    margin-right: 100px;
}



.caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
}


/* <!-- feature-section --> */

#features {
    padding: 0;
}

#features .col3 {
    text-align: center;
    /* padding: 3rem 0; */
}







/* <!-- services section --> */

.servicesTop {
    text-align: center;
}

.zoom {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    vertical-align: top;

}

.zoom img {
    display: block;
    width: 100%;
    height: auto;
    transition: all .5s ease;
}


.item .itemText {
    text-align: center;
    padding: 5px 20px;
    border: 1px solid #3018ad;
}

.item:hover .zoom img {
    transform: scale(1.25);

}



.item:hover .itemText {
    background: #3018ad;
    color: white;
    transition: all .5s ease;
}

.btnDetails {
    color: #3018ad;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #3018ad;
    transition: all .5s ease;
}

.item:hover .btnDetails {
    color: white;
    border: 1px solid white;
}

/* contact  */

#contact {
    background: linear-gradient(rgba(0, 0, 0, .7),
            rgba(0, 0, 0, .7)),
        url('../images/contact.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    box-sizing: border-box;
}

#contact h2 {
    color: white;
    font-size: 35px;
    height: 80px;
    text-align: center;
    letter-spacing: 5px;
    border-bottom: 6px solid #000000;
    line-height: 80px;
    margin-top: 80px;

    /* display: inline-block; */
    /* margin-bottom: 20px; */
    /* background-color: #9888e9; #3018ad */
    /* background: linear-gradient(rgba(255,255,255,.1),rgba(255,255,255,.1)); */

}

.contactArea {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.contactLeft {
    width: 40%;
    padding: 3rem;
}

.contactElement {
    color: white;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.contactElement i {
    /* color: white; */
    padding: 0.7rem;
    /* border-radius: 50%; */
    font-size: 1.5rem;
    margin-right: 1rem;
}

.contactElement a {
    color: white;
    text-decoration: none;
}

.contactRight {
    width: 60%;
    padding: 3rem;

}

.contactRight form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactRight .formControl {
    resize: none;
}

.contactRight form input,
textarea,
button {
    width: 100%;
    margin: 1rem 0;
    color: white;
    background: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1));
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    outline: none;
    border: 1px solid black;
    transition: all 0.4s ease;
}

.contactRight form button {
    background-color: black;
    color: white;
    cursor: pointer;
}

.contactRight form button:hover {
    background-color: white;
    color: black;
}

.contactRight form input:hover,
textarea:hover {
    background-color: black;
    color: white;
}

.contactRight form input:focus,
textarea:focus {
    background-color: black;
    color: white;
}


/* footer section */

footer .container {
    display: flex;
    justify-content: center;
}

footer {
    text-align: center;
}

.footerItem img {
    height: 70px;
}

/* about */

.aboutCaption {
    text-align: center;
}

.about .container {
    display: flex
}

.aboutImage {
    width: 20%;

}

.aboutImage img {
    margin-top: 80px;
    margin-left: 30px;
    width: 100%;
    height: auto;

}

.aboutText {
    font-size: 20px;
    width: 80%;
    padding-top: 5%;
    padding-left: 50px;
    /* padding-right: 70px; */
}


.list .unordered-list {
    padding-left: 20px;
    font-size: 15px;
}

.list .unordered-list li {
    list-style: none;
    position: relative;
    padding-left: 30px;
    line-height: 1.82em !important;

}

.unordered-list li:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 3px solid #3018ad;
    background: #fff;
    top: 4px;
    left: 0;
    border-radius: 50%;
}



/*akıllı tarım*/
.akilliTCaption {
    text-align: center;
}

.akilliT .container {
    display: flex;
    justify-content: space-around;
}

.akilliT .col3 {
    padding-top: 0;
}

.akilliT .caption {
    margin-top: 100px;
}

.akilliTImage {
    width: 25%;
}

.akilliT .list {
    margin-left: 120px;
}

.akilliTImage img {
    margin-top: 120px;
    margin-left: 50px;
    width: 90%;
    height: auto;

}

.akilliTText {
    font-size: 20px;
    width: 75%;
    padding-top: 8%;
    padding-left: 50px;
    padding-right: 25px;
}

.akilliSubImg {
    margin-left: 100px;
    width:100% ;
}
.akilliSubImg img{
    width:70% ;
}


/*exp section*/
.expCaption {
    text-align: center;
}

.exp .container {
    display: flex
}

.expImage {
    width: 25%;

}

.expImage img {
    margin-top: 120px;
    margin-left: 30px;
    width: 100%;
    height: auto;

}

.expText {
    font-size: 20px;
    width: 75%;
    padding-top: 8%;
    padding-left: 50px;
    /* padding-right: 70px; */
}

/*perf section*/
.perfCaption {
    text-align: center;
}

.perf .container {
    display: flex
}

.perfImage {
    width: 25%;

}

.perfImage img {
    margin-top: 120px;
    margin-left: 30px;
    width: 100%;
    height: auto;

}

.perfText {
    font-size: 20px;
    width: 75%;
    padding-top: 7%;
    padding-left: 50px;
    /* padding-right: 70px; */
}

/*issurec section*/
.issurecCaption {
    text-align: center;
}

.issurec .container {
    display: flex
}

.issurecImage {
    width: 25%;

}

.issurecImage img {
    margin-top: 120px;
    margin-left: 30px;
    width: 100%;
    height: auto;

}

.issurecText {
    font-size: 20px;
    width: 75%;
    padding-top: 4%;
    padding-left: 50px;
    /* padding-right: 70px; */
}

/*veriot section*/
.veriotCaption {
    text-align: center;
}

.veriot .container {
    display: flex
}

.veriotImage {
    width: 25%;

}

.veriotImage img {
    margin-top: 120px;
    margin-left: 30px;
    width: 100%;
    height: auto;

}

.veriotText {
    font-size: 20px;
    width: 75%;
    padding-top: 4%;
    padding-left: 50px;
    /* padding-right: 70px; */
}